h2 {
  font-family: "Yellowtail", cursive;
  font-size: 5rem;
  text-align: center;
  color: rgba(0, 35, 122, 0.5);
}

.col {
  margin: 5%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.act-images {
  width: 100%;
  border-radius: 28px;
}

.activity {
  width: 35rem;
}
