import h4 {
  font-size: large;
}
.all-date-selections {
  border-color: brown;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  object-fit: scale-down;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

/* .activities-selection {
  margin: auto;
  border-color: brown;
  border-style: solid;
}

.restaurants-img {
  width: 25%;
}

.homedates-img {
  width: 25%;
}

.entertainments-selection {
  margin: auto;
}

.restaurants-selection {
  margin: auto;
}

.homedates-selection {
  margin: auto;
} */

.event-cards {
  width: 40%;
  border-style: solid;
  border-color: aqua;
  object-fit: scale-down;
  margin: 10px;
}

.card-img {
  width: 100%;
}

#activities-img {
  width: 100%;
  object-fit: scale-down;
}

#entertainments-img {
  width: 100%;
  object-fit: scale-down;
}
