@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

h1 {
  font-family: "Rock Salt", cursive;
  display: flex;
  text-align: center;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.834);
  /* border: solid rgba(127, 75, 205, 0.132); */
  border-radius: 20px;
  padding: 70px;
  /* font-family: cursive; */
  /* background-color: #77a3ee3c; */
  /* background-color: hsla(264, 94%, 25%, 0.434); */
  margin: auto;
  justify-content: center;
  /* border-spacing: 20px; */

  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}
.container {
  text-align: left;
}
.subheading {
  background-color: #fafcff37;

  text-align: center;
}
.description {
  margin: auto;
}
