/* html {
  background: rgb(33, 0, 80);
  background: linear-gradient(
    317deg,
    rgba(33, 0, 80, 1) 0%,
    rgba(207, 80, 255, 1) 37%,
    rgba(166, 211, 255, 1) 69%,
    rgba(252, 252, 252, 1) 100%
  );
} */

html {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    142deg,
    rgba(255, 255, 255, 1) 7%,
    rgba(208, 220, 255, 1) 19%,
    rgba(156, 182, 255, 1) 51%,
    rgba(116, 59, 233, 1) 81%,
    rgba(46, 0, 115, 1) 100%
  );
}
